<h1><%= @user.username %>'s Profile</h1>
<div class="row gray_bg">
  <div class="col-md-3">
    <h3><span class="fa fa-thumbs-up"> <%= number_with_precision((@product_review / @comments_count)*100, :precision => 0)  %>%</h3>
    <p>Product Review</p>
  </div>
  <div class="col-md-3">
    <h3><span class="fa fa-thumbs-up"><%= number_with_precision((@seller_review / @comments_count)*100, :precision => 0)  %>%</h3>
    <p>Seller Review</p>
  </div>
</div>
<h3>Reviews</h3>
<% @comments.each do |comment| %>
  <p><%= comment.user.username %></p>
  <p><%= comment.message %></p>
<% end %>
<%= render 'comment_form' %>
<h3>My Legit Posts</h3>
<% @posts.each do |post| %>
  <div class="row category_row">
    <div class="col-md-2">
      <p><%= link_to image_tag(post.image.url(:medium), class: "img-responsive") %></p>
    </div>
    <div class="col-md-4">
      <h1 class="post_title"><%= link_to post.title, post_path(post) %></h1>
      <p><%= link_to post.user.username, user_path(post.user) %></p>
    </div>
    <div class="col-md-4">
      <p>Category: <strong><%= post.category %></strong></p>
      <p><%= post.description %></p>
    </div>
    <div class="col-md-2">
      <p class="price"><%= number_to_currency post.price %></p>
    </div>
  </div>
<% end %>
<% @comments.each do |comment| %>
  <p><%= comment.message %>
<% end %>
