<h1><%= @user.username %>'s Profile</h1>
<div class="row gray_bg">
  <div class="col-md-6 col-xs-6">
    <h3><span class="fa fa-thumbs-up"> 
      <% if @user.owner_comments.present? %>
        <%= number_with_precision((@product_review / @comments_count)*100, :precision => 0)  %>%
      <% else %>
        0%
      <% end %>
    </h3>
    <p>Product Review</p>
  </div>
  <div class="col-md-6 col-xs-6">
    <h3><span class="fa fa-thumbs-up">
      <% if @user.owner_comments.present? %>
        <%= number_with_precision((@seller_review / @comments_count)*100, :precision => 0)  %>%
      <% else %>
          0%
      <% end %>
      </h3>
    <p>Seller Review</p>
  </div>
</div>
<h3>Reviews</h3>
<% @comments.each do |comment| %>
  <div class="row comments"> 
    <div class="col-md-1">
      <p><strong><%= comment.user.username %></strong></p>
    </div>
    <div class="col-md-11">
      <p><%= comment.message %></p>
    </div>
  </div>
<% end %>
<%= render 'comment_form' %>
<h3>My Legit Posts</h3>
<% @posts.each do |post| %>
    <div class="row">
      <div class="row">
        <div class="col-md-10">
          <h4 class="post_title"><%= link_to post.title, post_path(post) %></h4>
        </div>
        <div class="col-md-2">
          <span class="price"><%= number_to_currency post.price %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= link_to image_tag(post.image.url(:medium), class: ["img-responsive", "thumbnail"]) %>
        </div>
        <div class="col-md-8">
          <p>By <%= link_to post.user.username, user_path(post.user) %></p>
          <p><%= truncate(post.description, length:512, separator: " ", ommision: "...")%></p>
        </div>
      </div>
    </div>
<% end %>



