<h3><%= @user.username %>'s Profile<h3>
    <% @posts.each do |post| %>
      
      <h1><%= post.title %></h1>
      <p><%= image_tag post.image.url(:medium) %> </p>
      <p><%= post.user_id %></p>
      <p><%= post.price %></p>
      <p><%= post.category %></p>
      <p><%= post.email %></p>
      <p><%= post.accept_paypal %></p>
      <p><%= post.accept_stripe %></p>
      <p><%= post.likes %></p>
      <p><%= link_to 'Show', post %></p>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      
    <% end %>

	<%= form_for(@comment) do |f| %>
	  <% if @comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

	      <ul>
	      <% @comment.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :post_id %><br>
	    <%= f.number_field :post_id %>
	  </div>
	  <div class="field">
	    <%= f.label :message %><br>
	    <%= f.text_area :message %>
	  </div>
	  <div class="field">
	    <%= f.label :user_id %><br>
	    <%= f.number_field :user_id %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>

	<table>
	  <thead>
	    <tr>
	      <th>Post</th>
	      <th>Message</th>
	      <th>User</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @comments.each do |comment| %>
	      <tr>
	        <td><%= comment.post_id %></td>
	        <td><%= comment.message %></td>
	        <td><%= comment.user_id %></td>
	        <td><%= link_to 'Show', comment %></td>
	        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
	        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
