<div class="home_top_band">
	<div class="container">
		<h1>Buy, Sell, Safer</h1>
		<h3>Learn how to build websites & apps, write code or start a business.</h3>
		<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
	</div>
</div>
<div class="category_band">
	<div class="container">
		<div class="row">
			<% @categories.take(4).each do | category | %>
			<div class="col-md-3">
				<img class="img-responsive" src="<%= category.image.url() %>"/>
				<p><%=category.title %></p>
			</div>
			<% end %>
		</div>
		<div class="row category_second_row">
			<% @categories.offset(4).take(4).each do | category | %>
			<div class="col-md-3">
				<img class="img-responsive" src="<%= category.image.url() %>"/>
				<p><%=category.title %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>