<h1>Listing profile_comments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Message</th>
      <th>User</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_comments.each do |profile_comment| %>
      <tr>
        <td><%= profile_comment.post_id %></td>
        <td><%= profile_comment.message %></td>
        <td><%= profile_comment.user_id %></td>
        <td><%= profile_comment.created_at %></td>
        <td><%= profile_comment.updated_at %></td>
        <td><%= link_to 'Show', profile_comment %></td>
        <td><%= link_to 'Edit', edit_profile_comment_path(profile_comment) %></td>
        <td><%= link_to 'Destroy', profile_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile comment', new_profile_comment_path %>
