<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>Get back in the game!</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <div class="form-group">
		  	<%= f.label :email %>
		  	<p class= "desc"> Why did you leave? <p>
		  	<%= f.email_field :email, class: "form-control signin_field", :autofocus => true %>
			</div>

		  <div class="form-group">
		  	<%= f.label :password %>
		  	 <p class= "desc"> we missed you :( <p>
		  	<%= f.password_field :password, class: "form-control signin_field" %>
		  </div>

	    <div class="form-group">
	    	<div class="checkbox">
		    	<%= f.check_box :remember_me %> 
		    	<%= f.label :remember_me %>
		    </div>
	    </div>

		  <div class="form-group">
		  	<span title="welcome back :)"><%= f.submit "Sign in", class: "btn btn-primary" %> </span>
		  </div>
		<% end %>
	</div>
	<div class="panel-footer">
		<%= render "devise/shared/links" %>
	</div>
</div>