<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="">
    <%= f.label :title, class: "title"%>  
      <div class="cat">
        <%= f.label :category, class: "title cat_title" %><br>
        <p class="form_description ">where would you find it?</p> 
        <%= f.select(:category, options_for_select([['Electronics', 'electronics'], ['Tools', 'tools'], ['Sports', 'sports'], ['Vehicles', 'vehicles'], ['Tickets', 'tickets'], ['Music', 'music'], ['Games', 'games'], ['Housing', 'housing']])) %>
      </div>

    <br>  
    <p class="form_description ">whatchya selling?</p> 
    <%= f.text_field :title, class: "title_field" %>

  </div>
  
  <div class="">
    <%= f.label :description, class: "title" %><br>
    <p class="form_description ">describe your item like one of your french girls</p> 
    <%= f.text_area :description, class: " description_field"%>
  </div>
  <hr>

   <div id="checkboxes">
    <div class="">
      <%= f.check_box :accept_paypal, class: "" %>
      <i class="fa fa-paypal"></i>
      <%= f.label :accept_paypal, class: "title" %><br>
      <p class="form_description_paypal ">it is the most trusted</p> 
      
      
    </div>
    <div class="">
      <%= f.check_box :accept_stripe, class: ""%>
      <i class="fa fa-cc-stripe"></i>
      <%= f.label :accept_stripe, class: "title" %><br>
      <p class="form_description_stripe">it is one of the easiest</p> 
    </div>
  </div> 
  <hr>

  <div id= "image_price">

    <div class="">
      <%= f.label :price, class: "title" %><br>
      <p class="form_description ">how much is it worth?</p> 
      <%= f.text_field :price, class: " price_field" %>
    </div>
    <br>
    <div class="image">
      <%= f.label :image, class: "title" %><br>
      <p class="form_description ">lets see what it is</p> 
      <%= f.file_field :image, class: " image_field" %>
    </div>
  </div>  
  <hr>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"  %>
  </div>
<% end %>
