<h1>Listing posts</h1>





    <% @posts.each do |post| %>
      
      <h1><%= post.title %></h1>
      <p><%= image_tag post.image.url(:medium) %> </p>
      <p><%= post.user_id %></p>
      <p><%= post.price %></p>
      <p><%= post.category %></p>
      <p><%= post.phone %></p>
      <p><%= post.email %></p>
      <p><%= post.accept_paypal %></p>
      <p><%= post.accept_stripe %></p>
      <p><%= post.likes %></p>
      <p><%= link_to 'Show', post %></p>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
