<p id="notice"><%= notice %></p>
<section id="post" class="container-fluid">
  <h1><%= @post.title %></h1>
  
  <div class="row">
     <div class="col-md-12">
        <strong id="price"><%= number_to_currency(@post.price, :unit => "$") %></strong>
        <button class="btn btn-sm btn-primary" type="button">
          Like <span class="badge"><%= @post.likes %></span>
        </button>
        <button class="btn btn-sm btn-default" type="button">
          <%= @post.category %>
        </button>
    </div>
  </div>

  <div class="row">
     <div class="col-md-3">
      <a href="<%= @post.image.url(:medium)%>" target="_newwindow" class="thumbnail">
        <img src="<%= @post.image.url(:medium)%>" />
      </a>
     </div>
     <div class="col-md-8">
      <p id="description">
        <%=@post.description %>
      </p>
    </div>
  </div>
  <div id="contact-info" class="row">
     <div class="col-md-12 well">
        <%= @post.phone == 0 ? '' : number_to_phone(@post.phone, area_code: true) %>
        <a href="mailto:<%= @post.email %>"><%= @post.email %></a>
        <div class="payment-vendor-icon <%= @post.accept_paypal ? 'paypal-icon' : 'no-paypal-icon' %>"></div>
        <div class="payment-vendor-icon <%= @post.accept_stripe ? 'stripe-icon' : 'no-stripe-icon' %>"></div>
    </div>
  </div>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</section>