<ol class="breadcrumb">
  <li><a href="#"><%= link_to 'Categories', root_url %></a></li>
  <li><%= link_to @post.category.title, category_path(@post.category) %></li>
  <li class="active">Post</li>

</ol>
<p id="notice"><%= notice %></p>
<section id="post" class="container-fluid">
  <div class="row">
     <div class="col-md-10">
        <h1><%= @post.title %></h1>
         <h5 class="sold_by"> Sold by <%= link_to @post.user.username, user_path(@post.user) %> </h5>
          <% if user_signed_in? && current_user.id == @post.user.id %>
          <%= link_to 'Edit Your Post', edit_post_path(@post) %>
          <% end %>
    </div>

     <div class="col-md-2">
        <span id="post-price"><%= number_to_currency(@post.price, :unit => "$") %></strong> 
         

    <button type="button" title= "sends an automated email to the seller" class="btn btn-primary butt"> Express Interest</button>
       
                <button class="btn btn-sm btn-primary butt" type="button">
          Want <span class="badge"><%= @post.likes %></span>
        </button>
    </div>
  <div>

  <div class="row">
     <div class="col-md-12">
    </div>
  </div>

  <div class="row">
     <div class="col-md-3">
      <a href="<%= @post.image.url()%>" target="_newwindow" class="thumbnail">
        <img src="<%= @post.image.url(:medium)%>" />
      </a>
     </div>
     <div class="col-md-8">
      <p id="description">
        <%=@post.description %>
      </p>
    </div>
  </div>
  <div id="contact-info" class="row">
         <div class="col-md-12 well">
            
            <% if @post.accept_paypal || @post.accept_stripe %>
              <p> <%= "This seller Accepts" %> <p>
            <% end %>

            <div>
            <div class="payment-vendor-icon <%= if @post.accept_paypal 
                                                  'paypal-icon'
                                                end %>"></div>
            <div class="payment-vendor-icon <%= if @post.accept_stripe  
                                                  'stripe-icon'
                                                end %>"></div>
          </div>

  </div>
</section>