<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<p>
  <strong>Accept paypal:</strong>
  <%= @post.accept_paypal %>
</p>

<p>
  <strong>Accept stripe:</strong>
  <%= @post.accept_stripe %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
