<ol class="breadcrumb">
  <li><a href="#"><%= link_to 'Categories', root_url %></a></li>
  <li class="active"><%= link_to @category.title, category_path(@category) %></li>
</ol>
<p id="notice"><%= notice %></p>
<h1><%=@category.title%></h1>
<div class="container">
	<% @posts.each do |post| %>
  <div class="row category_row">
    <div class="col-md-2">
      <p><%= link_to image_tag(post.image.url(:medium), class: "img-responsive") %></p>
    </div>
    <div class="col-md-4">
      <h1 class="post_title"><%= link_to post.title, post_path(post) %></h1>
      <p><%= link_to post.user.username, user_path(post.user) %></p>
    </div>
    <div class="col-md-4">
      <p>Category: <strong><%= post.category.title %></strong></p>
      <p><%= post.description %></p>
    </div>
    <div class="col-md-2">
      <p class="price"><%= number_to_currency post.price %></p>
    </div>
  </div>
<% end %>
</div>